@tailwind base;
@tailwind components;
@tailwind utilities;

@import "rc-tooltip/assets/bootstrap_white.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  color: #111827;
}

* {
  box-sizing: border-box;
}

.bg-light-orange {
  background-color: #fdfbf4;
}

* {
  /* font-family: "Darumadrop One", cursive; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "DM Sans", sans-serif; */
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib-inner,
.mapboxgl-compact {
  display: none !important;
}

* {
  box-sizing: border-box;
}

input[type="range"] {
  height: 30px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 30px;
  width: 30px;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.customModal,
.rateModal {
  border-radius: 8px;
  box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.rateModal {
  padding-top: 36px;
}

.imageModal {
  width: calc(100% - 100px);
  max-width: 1200px;
  max-height: calc(100vh - 100px);
}

@media (max-width: 1024px) {
  .imageModal {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    overflow: hidden;
  }
}
/* sm */
@media (max-width: 640px) {
  .rateModal {
    margin: 0;
    height: 95vh;
    width: 95vw;
  }
}
/* xs */
@media (max-width: 440px) {
  .rateModal,
  .customModal {
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
  .customModal {
    padding: 12px;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  input {
    font-size: 16px;
  }
}

.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.mapboxgl-popup {
  z-index: 150;
}

.mapboxgl-popup-content {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25) !important;
  border-radius: 6px !important;
  cursor: pointer;
  padding: 8px !important;
}
.mapboxgl-popup-content:hover {
  outline: 2px solid rgba(128, 167, 250, 1);
}
.mapboxgl-canvas {
  opacity: 0.6;
}

.mapboxgl-marker {
  cursor: pointer !important;
}

.mapboxgl-marker:hover {
  z-index: 10 !important;
}

.PhoneInputInput {
  padding: 4px 8px;
  border-radius: 3px;
}
.PhoneInputInput:focus {
  outline: none;
  background-color: #eee;
}

.nocircle circle {
  display: none;
}

.introuvable-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  visibility: hidden;
}

/* Homepage down arrow */
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 20%;
  bottom: 36px;
  width: 100%;
  left: 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.72);
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  transition: 0.5s opacity;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Surprends moi dice */

.dice-container img {
  filter: invert(36%) sepia(84%) saturate(693%) hue-rotate(133deg)
    brightness(101%) contrast(90%);
}

.dice-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: -5px;
  left: -3px;
}
